@font-face {
  font-family: "iconfont"; /* Project id 3694127 */
  src: url('../fonts/iconfont.woff2?t=1665316229938') format('woff2'),
       url('../fonts/iconfont.woff?t=1665316229938') format('woff'),
       url('../fonts/iconfont.ttf?t=1665316229938') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e601";
}

.icon-arrow-down-rectangle:before {
  content: "\e602";
}

.icon-attach:before {
  content: "\e603";
}

.icon-arrow-right:before {
  content: "\e604";
}

